.jazz.page-about .masthead-top {
  background-image: url(/images/titles/about_title.png); }
.jazz.page-about #recent-press .byline {
  margin-bottom: 2px; }
  .jazz.page-about #recent-press .byline .date {
    color: #666; }
  .jazz.page-about #recent-press .byline .author {
    color: #ccc; }
.jazz.page-about #recent-press li {
  margin-bottom: 6px; }
