.jazz.section-artists .masthead-top {
  background-image: url(/images/titles/artists_title.png);
  background-position: 64px 5px; }
.jazz.section-artists .masthead {
  background: url(/images/masthead_bg/artists.png) repeat-x; }
.jazz.section-artists.page-index p.byline {
  width: 130px;
  overflow: hidden;
  white-space: nowrap; }
.jazz.section-artists.page-show #info .body {
  position: relative;
  padding-bottom: 26px; }
.jazz.section-artists.page-show #info h3.name {
  margin-bottom: 1px;
  text-transform: uppercase;
  color: #fff; }
.jazz.section-artists.page-show #info p.instrument {
  margin-bottom: 5px;
  color: #666; }
.jazz.section-artists.page-show #info a.box {
  width: 125px;
  position: absolute;
  bottom: 10px;
  left: 155px; }
  .jazz.section-artists.page-show #info a.box.visit-website {
    left: 10px; }
.jazz.section-artists.page-show #info .media-with-info .media {
  padding-right: 10px;
  padding-bottom: 8px; }
.jazz.section-artists.page-show #info .media-with-info .info {
  padding-left: 0px; }
.jazz.section-artists.page-show #info #bio_clone,
.jazz.section-artists.page-show #info #bio p {
  color: #ccc; }
.jazz.section-artists.page-show #info #bio {
  display: none; }
.jazz.section-artists.page-show #shop ul.inline-list li {
  margin-right: 10px; }
.jazz.section-artists.page-show #related_videos {
  margin-bottom: 15px; }
  .jazz.section-artists.page-show #related_videos .body {
    padding: 0px; }
  .jazz.section-artists.page-show #related_videos li {
    width: 140px;
    padding-right: 17px;
    padding-bottom: 5px; }
    .jazz.section-artists.page-show #related_videos li.last {
      padding-right: 0px; }
    .jazz.section-artists.page-show #related_videos li span.box {
      overflow: hidden; }
      .jazz.section-artists.page-show #related_videos li span.box span {
        overflow: hidden;
        display: block;
        float: left;
        white-space: nowrap;
        width: 129px; }
