.jazz.section-artists .masthead-top {
  background-image: url(/images/titles/artists_title.png);
  background-position: 64px 5px; }
.jazz.section-artists.page-index #search-by-name {
  width: 485px; }
.jazz.section-artists.page-index #search-by-instrument {
  width: 375px; }
.jazz.section-artists.page-index select {
  width: 200px; }
.jazz.section-artists.page-index label {
  margin-right: 3px; }
.jazz.section-artists.page-show #info .body {
  position: relative;
  padding-bottom: 24px; }
.jazz.section-artists.page-show #info p.instrument {
  margin-bottom: 5px; }
.jazz.section-artists.page-show #info a.box {
  width: 125px;
  position: absolute;
  bottom: 10px;
  left: 10px; }
  .jazz.section-artists.page-show #info a.box.visit-website {
    left: 155px; }
.jazz.section-artists.page-show #info .media-with-info .media {
  padding-right: 10px;
  padding-bottom: 8px; }
.jazz.section-artists.page-show #info .media-with-info .info {
  padding-left: 0px; }
.jazz.section-artists.page-show #info #bio_clone,
.jazz.section-artists.page-show #info #bio p {
  color: #ccc; }
.jazz.section-artists.page-show #shop ul.inline-list li {
  margin-right: 10px; }
  .jazz.section-artists.page-show #shop ul.inline-list li a {
    display: block;
    width: 69px; }
