.jazz.page-artists-landing #search-by-name {
  width: 485px; }
.jazz.page-artists-landing #search-by-instrument {
  width: 375px; }
.jazz.page-artists-landing select {
  width: 200px; }
.jazz.page-artists-landing label {
  margin-right: 3px; }
