$ORANGE: #ff9900;
@import "components/forms";
@import "grid";
@import "components/links";
@import "components/containers";
@import "components/lists";

body {
  line-height: 1.2;
  font-size: 12px;
  font-family: Ariel, sans-serif;
  margin:0;
  padding:0;
  background: url(/images/body_bg.png);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#logo {
  position: absolute;
  top: 35px;
  left: 0px;
}

.masthead {
  background: url(/images/masthead_bg.png) repeat-x;
  height: 148px;
  width: 100%;
  .site-container {
    position: relative;
  }
}
.masthead-top {
  height: 126px;
}

.site-container {
  width: 960px;
  margin: 0px auto;
}
.nav {
  li {
    float: left;
    a {
      display: block;
      cursor: pointer;
      line-height: 16px;
      padding: 3px 6px 2px 6px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      text-decoration: none;
    }
    &.selected,
    &:hover {
      a {
        background-color: #ff9900;
      }
    }
  }
}
.clear {
  clear: both;
}

.skin-dark {
  color: #fff;
}
