$ORANGE: #ff9900;
@import "components/spacing";
@import "components/forms";
@import "components/links";
@import "components/containers";
@import "components/lists";
@import "components/headers";
@import "components/layout";
@import "pages/home";
@import "pages/artists";
@import "pages/about";
@import "pages/shows";
@import "pages/donate";
@import "pages/resources";
@import "pages/video";
@import "pages/venues";

.jazz {
  @include margins();
  @include paddings();
  @include heights();
}

body {
  line-height: 1.2;
  font-size: 12px;
  font-family: Ariel, sans-serif;
  margin:0;
  padding:0;
  background: url(/images/body_bg.png);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
address {
  color: #666;
  font-style: normal;
}
h4 {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
}
#logo {
  position: absolute;
  top: 35px;
  left: 0px;
}

.masthead {
  background: url(/images/masthead_bg.png) repeat-x;
  height: 148px;
  width: 100%;
  margin-bottom: 13px;
  .site-container {
    position: relative;
  }
}
.masthead-top {
  height: 126px;
  background-image: url(/images/titles/shows_title.png);
  background-repeat: no-repeat;
  background-position: 54px 5px;
}

.site-container {
  width: 960px;
  margin: 0px auto;
}
.snug-bottom {
  margin-bottom: 0px !important;
}
.snug {
  margin: 0px !important;
  padding: 0px !important;
}
.block {
  display: block !important;
}
.inline {
  display: inline !important;
}
.inline-block {
  display: inline-block !important;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.centered {
  text-align: center;
}
p {
  margin-top: 0px;
  color: #666;
  margin-bottom: 15px;
}
.skin-dark p {
  color: #fff;
}
.nav {
  li {
    float: left;
    a {
      display: block;
      cursor: pointer;
      line-height: 16px;
      padding: 3px 6px 2px 6px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      text-decoration: none;
    }
    &.selected,
    &:hover {
      a {
        background-color: $ORANGE;
      }
    }
  }
}
body {
  &.page-shows {
    .nav li#nav-shows a {
      background-color: $ORANGE;
    }
  }
  &.section-artists {
    .nav li#nav-artists a {
      background-color: $ORANGE;
    }
  }
  &.section-venues {
    .nav li#nav-venues a {
      background-color: $ORANGE;
    }
  }
  &.section-video {
    .nav li#nav-video a {
      background-color: $ORANGE;
    }
  }
  &.page-about {
    .nav li#nav-about a {
      background-color: $ORANGE;
    }
  }
  &.page-resources {
    .nav li#nav-resources a {
      background-color: $ORANGE;
    }
  }
  &.page-donate {
    .nav li#nav-donate a {
      background-color: $ORANGE;
    }
  }
}
.clear {
  clear: both;
}

.skin-dark {
  color: #fff;
}


.jazz {
  &.section-components {
    #main-content {
      background-color: #fff;
    }
  }
  .mr-5 {margin-right: 5px;}
  .mr-10 {margin-right: 10px;}
  .mr-15 {margin-right: 15px;}
  .mr-20 {margin-right: 25px;}
  .mr-25 {margin-right: 5px;}
  .mr-30 {margin-right: 5px;}

  .mt-5 {margin-top: 5px;}
  .mt-10 {margin-top: 10px;}
  .mt-15 {margin-top: 15px;}
  .mt-20 {margin-top: 25px;}
  .mt-25 {margin-top: 5px;}
  .mt-30 {margin-top: 5px;}
}


#mailing-list {
  .field {
    margin-bottom: 5px;
    label {
      font-size: 12px;
      color: #ccc;
      font-weight: normal;
    }
    &.text {
      label {
        float: left;
        margin-right: 5px;
        padding-top: 3px;
        width: 36px;
      }
      .wrapper {
        width: 245px;
        float: left;
        input {
          border: 1px solid #ccc;
          height: 18px;
          width: 245px;
        }
      }
      clear: both;
    }
    &.radio {
      overflow: hidden;
      margin-right: 15px;
      input,
      .wrapper {
        float: left;
      }
      .wrapper {
        margin-left: 5px;
      }
      &.subscribe {
        margin-left: 38px;
      }
    }
  }
}
