.jazz {
  &.page-about {
    .masthead-top {
       background-image: url(/images/titles/about_title.png);
    }
    .masthead {
      background: url(/images/masthead_bg/about.png) repeat-x;
    }
    #recent-press {
      .byline {
        margin-bottom: 2px;
        .date { 
          color: #666;
        }
        .author {
          color: #ccc;
        }
      }
      li {
        margin-bottom: 6px;
      }
    }
  }
}
