.jazz {
  &.page-artists-landing {
    #search-by-name {width: 485px;}
    #search-by-instrument {width: 375px;}
    select {
      width: 200px;
    }
    label {
      margin-right: 3px;
    }
    .artists-grid {
      li {
        margin-right: 11px;
        margin-bottom: 5px;
        &.last {
          margin-right: 0px;
        } 
        &.first {
          clear: both;
        }
        .body {
          padding: 5px 5px 0px 5px;
          .name {
            margin-bottom: 2px;
          }
          .instrument {
            margin-bottom: 0px;
            padding-left: 5px;
          }
        }
      }
    }

  }
}

