.jazz {
  &.page-donate {
    .masthead-top {
       background-image: url(/images/titles/donate_title.png);
    }
    #main-content {
      height: 543px;
      background: url(/images/rats.png) no-repeat top left;
    }
    .container.with-tip {
      .body {
        padding-top: 5px;
        padding-bottom: 20px;
      }
    }
  }
}
