.jazz {
  &.page-home {
    h3 {
      margin-bottom: 5px;   
    }
    .masthead-top {
       background-image: url(/images/titles/home_title.png);
       background-position: 10px 5px;
    }
    .masthead {
      background: url(/images/home/masthead_bg.png) repeat-x;
      margin-bottom: 0px;
    }
    #main-content {
      background: url(/images/titles/home_title_bottom.png) no-repeat top left;
      margin-top: 5px;
    }
    #exciting-news {
      float: right;
      width: 385px; 
      margin-bottom: 60px;
      margin-top: 20px;
    }
    #featured-video .body {
      padding: 5px;
      .box.dark {
        width: 290px;
      }
    }
    #intro {
      a.box {
        width: 210px;
      }
    }
  }
}
