.jazz {
  &.page-home {
    h3.container {
      img {display:block;}
      .body {
        padding-bottom:10px;
        height:25px;
      }
      margin-bottom: 5px;   
    }
    .masthead-top {
       background-image: url(/images/titles/home_title.png);
       background-position: 10px 5px;
    }
    .masthead {
      background: url(/images/home/masthead_bg.png) repeat-x;
      margin-bottom: 0px;
    }
    #main-content {
      background: url(/images/titles/home_title_bottom.png) no-repeat top left;
      #main-content-secondary {
        padding-top: 5px;
      }
    }
    #exciting-news {
      float: right;
      width: 385px; 
      margin-bottom: 40px;
      margin-top: 20px;
      .body {
        padding-bottom: 10px;
      }
    }
    #featured-video .body {
      padding: 5px;
      img {width:290px}
      .box.dark {
        width: 290px;
      }
    }
    #intro {
      a.box {
        width: 210px;
      }
    }
  }
}
