.jazz {
  &.page-home {
    h3.container {
      img {display:block;}
      .body {
        padding-bottom:10px;
        height:25px;
      }
      margin-bottom: 5px;   
    }
    .masthead-top {
       background-image: url(/images/titles/home_title.png);
       background-position: 10px 5px;
    }
    .masthead {
      background: url(/images/home/masthead_bg.png) repeat-x;
      margin-bottom: 0px;
    }
    #main-content {
      background: url(/images/titles/home_title_bottom.png) no-repeat top left;
      #main-content-secondary {
        padding-top: 5px;
      }
    }
    .col-1-2 {
      margin-top:204px;
    }
    #exciting-news {
      //float: right;
      //width: 385px; 
      //margin-bottom: 40px;
      //margin-top: 20px;
      //.body {
      //  padding-bottom: 10px;
      //}
    }
    #featured-video .body {
      padding: 5px;
      img {width:300px}
      .box.name {
        background-color:#000;
        span {
          width:290px;
        }
      }
      &.additional-content {
        padding-top:0px;
      }
      p {
        &.video_description {
          margin-bottom:10px;
        }
        &.show {
          margin-bottom:0px;
        }
      }
    }
    #intro {
      a.box {
        width: 210px;
      }
    }
  }
}
