.jazz {
  &.section-venues {
    .masthead-top {
       background-image: url(/images/titles/venues_title.png);
    }
    .masthead {
      background: url(/images/masthead_bg/venues.png) repeat-x;
    }
    &.page-index {
      .searchy-inline {
        select {
          width: 223px;
        }
        * {
          margin-bottom:2px;
        }
      }
    }
    &.page-show {
      #their-words,
      #our-words {
        .container {
          .body {
            padding-top:5px;
          }
        }
      }
      fieldset.searchy {
        .field.select {
          .input {
            float: left;
          }
          .submit {
            float: right;
            input {
              padding-right: 0px !important;
              margin-right: 0px !important;
            }
          }
        }
      }
    }
  }
}
