.jazz fieldset {
  border: none;
  padding: 0;
  margin: 0; }
.jazz .field {
  margin-bottom: 20px;
  overflow: hidden; }
  .jazz .field input[type='text'],
  .jazz .field input[type='password'],
  .jazz .field textarea {
    border: 2px solid #d7d7d7;
    width: 300px; }
  .jazz .field input[type='text'],
  .jazz .field input[type='password'] {
    line-height: 25px;
    font-size: 16px;
    color: #ccc; }
  .jazz .field label,
  .jazz .field .control {
    float: left; }
  .jazz .field label {
    font-weight: bold;
    clear: both;
    margin-right: 20px; }
  .jazz .field.inline {
    float: left;
    margin-right: 10px; }
    .jazz .field.inline label {
      clear: none; }
  .jazz .field.textarea textarea {
    height: 150px; }
  .jazz .field.radio label {
    padding-top: 2px;
    margin-right: 8px; }
  .jazz .field.check label {
    padding-top: 1px;
    margin-right: 8px; }
  .jazz .field.select label {
    padding-top: 3px; }

body {
  line-height: 1.2;
  font-size: 12px;
  font-family: Ariel, sans-serif;
  margin: 0;
  padding: 0; }

.masthead {
  background: url(/images/masthead_bg.png) repeat-x;
  height: 148px;
  width: 100%; }

.site-container {
  width: 960px;
  margin: 0px auto; }

.clear {
  clear: both; }
