.jazz .container {
  overflow: hidden;
  background-color: #fff; }
  .jazz .container .body {
    padding: 10px; }
  .jazz .container.skin-dark {
    background: url(/images/black_container_bg.png); }
    .jazz .container.skin-dark .body {
      padding-bottom: 20px; }
    .jazz .container.skin-dark.darker {
      background: url(/images/black_container_bg_darker.png); }
  .jazz .container.with-tip {
    overflow: visible;
    position: relative; }
  .jazz .container .tip {
    width: 41px;
    height: 37px;
    position: absolute;
    bottom: -31px;
    right: 100px;
    background: url(/images/tip.png) no-repeat top left; }
