.jazz fieldset {
  border: none;
  padding: 0;
  margin: 0; }
.jazz .field {
  margin-bottom: 20px;
  overflow: hidden; }
  .jazz .field input[type='text'],
  .jazz .field input[type='password'],
  .jazz .field textarea {
    border: 2px solid #d7d7d7;
    width: 300px; }
  .jazz .field input[type='text'],
  .jazz .field input[type='password'] {
    line-height: 16px;
    font-size: 12px;
    color: #000; }
  .jazz .field label,
  .jazz .field .control {
    float: left; }
  .jazz .field label {
    font-weight: bold;
    clear: both;
    margin-right: 20px;
    color: #ff9900;
    font-size: 14px;
    cursor: pointer; }
  .jazz .field.inline {
    float: left;
    margin-right: 10px; }
    .jazz .field.inline label {
      clear: none; }
    .jazz .field.inline .wrapper {
      float: left; }
  .jazz .field.textarea textarea {
    height: 150px; }
  .jazz .field.radio label {
    padding-top: 2px;
    margin-right: 8px; }
  .jazz .field.check label {
    padding-top: 1px;
    margin-right: 8px; }
  .jazz .field.select label {
    padding-top: 1px; }
.jazz fieldset.searchy {
  margin-bottom: 5px; }
  .jazz fieldset.searchy .field {
    margin-bottom: 3px; }
    .jazz fieldset.searchy .field label {
      display: block;
      float: none;
      font-weight: normal;
      padding-left: 5px;
      padding-top: 5px; }
    .jazz fieldset.searchy .field.text .input,
    .jazz fieldset.searchy .field.text .submit {
      float: left; }
    .jazz fieldset.searchy .field.text .input {
      width: 242px;
      margin-right: 10px; }
      .jazz fieldset.searchy .field.text .input input {
        width: 242px;
        height: 15px; }
    .jazz fieldset.searchy .field.select .input,
    .jazz fieldset.searchy .field.select .submit {
      float: left; }
    .jazz fieldset.searchy .field.select .input {
      margin-right: 3px;
      width: 249px; }
      .jazz fieldset.searchy .field.select .input select {
        width: 249px; }
    .jazz fieldset.searchy .field.calendar {
      width: 253px;
      margin: 0;
      padding: 0; }
  .jazz fieldset.searchy .calendar-wrapper {
    position: relative;
    padding-bottom: 0px;
    background-color: transparent; }
  .jazz fieldset.searchy .calendar-submit {
    width: 66px;
    margin: 217px 0 0 10px;
    position: absolute;
    right: 0px;
    bottom: 0px; }
    .jazz fieldset.searchy .calendar-submit input {
      float: right; }
.jazz .searchy-inline #search-by-name {
  width: 485px; }
.jazz .searchy-inline #search-by-instrument {
  width: 375px; }
.jazz .searchy-inline select {
  width: 200px; }
.jazz .searchy-inline .field.text input {
  height: 15px; }
.jazz .searchy-inline label {
  margin-right: 3px; }
