.jazz .col-1,
.jazz .col-2,
.jazz .col-3 {
  float: left; }
.jazz.layout-1 .col-1 {
  width: 310px;
  margin-right: 10px; }
.jazz.layout-1 .col-2 {
  width: 640px; }
.jazz .section {
  clear: both;
  margin-bottom: 5px; }
.jazz .media-with-info {
  overflow: hidden; }
  .jazz .media-with-info .media {
    width: 140px;
    height: 140px;
    float: left; }
  .jazz .media-with-info .info {
    padding-left: 150px; }
