.jazz .col-1,
.jazz .col-2,
.jazz .col-3,
.jazz .col-4,
.jazz .col-5,
.jazz .col-6 {
  float: left; }
.jazz.layout-1 .col-1 {
  width: 310px;
  margin-right: 10px; }
.jazz.layout-1 .col-2 {
  width: 640px; }
.jazz.layout-2 .col-1,
.jazz.layout-2 .col-2,
.jazz.layout-2 .col-3 {
  width: 310px; }
.jazz.layout-2 .col-1,
.jazz.layout-2 .col-2 {
  margin-right: 10px; }
.jazz.layout-2 .col-1-2 {
  width: 630px;
  float: left;
  margin-right: 10px; }
  .jazz.layout-2 .col-1-2 .col-2 {
    margin-right: 0px; }
.jazz.layout-3 .col-1,
.jazz.layout-3 .col-2,
.jazz.layout-3 .col-3,
.jazz.layout-3 .col-4,
.jazz.layout-3 .col-5,
.jazz.layout-3 .col-6 {
  width: 135px;
  margin-right: 30px; }
.jazz.layout-3 .col-6 {
  margin-right: 0px; }
.jazz.layout-4 .col-1,
.jazz.layout-4 .col-2 {
  width: 470px;
  margin-right: 10px; }
.jazz.layout-4 .col-2 {
  margin-right: 0px; }
.jazz .section {
  clear: both;
  margin-bottom: 5px; }
.jazz .media-with-info {
  overflow: hidden; }
  .jazz .media-with-info .media {
    width: 140px;
    height: 140px;
    float: left; }
  .jazz .media-with-info .info {
    padding-left: 150px; }
  .jazz .media-with-info.large .media {
    width: 160px;
    height: 160px; }
  .jazz .media-with-info.large .info {
    padding-left: 172px; }
