.jazz ul.containers li {
  margin-bottom: 6px; }
.jazz ul.with-gaps li {
  margin-bottom: 8px; }
.jazz ul.inline-list {
  overflow: hidden; }
  .jazz ul.inline-list li {
    float: left;
    margin-right: 3px;
    padding-bottom: 4px; }
    .jazz ul.inline-list li.last {
      margin-right: 0px; }
.jazz ul li.last {
  margin-bottom: 0px !important; }
.jazz ul.grid-view li {
  margin-right: 10px; }
  .jazz ul.grid-view li.container {
    background: none; }
  .jazz ul.grid-view li.last {
    margin-right: 0px; }
  .jazz ul.grid-view li.first {
    clear: both; }
  .jazz ul.grid-view li .body {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px; }
    .jazz ul.grid-view li .body img {
      margin: 0;
      padding: 0;
      display: block; }
    .jazz ul.grid-view li .body .name {
      margin-bottom: 2px;
      margin-top: 3px; }
    .jazz ul.grid-view li .body .byline {
      margin-bottom: 0px;
      padding-left: 5px;
      white-space: nowrap; }
.jazz ul.header-meta-list .byline {
  margin-bottom: 2px; }
  .jazz ul.header-meta-list .byline .date {
    color: #666; }
  .jazz ul.header-meta-list .byline .author,
  .jazz ul.header-meta-list .byline .location {
    color: #ccc; }
.jazz ul.header-meta-list li {
  margin-bottom: 10px; }
.jazz dl {
  overflow: hidden;
  margin: 0 0 5px 0; }
  .jazz dl dd, .jazz dl dt {
    float: left; }
  .jazz dl dt {
    font-size: 14px;
    font-weight: bold;
    color: #ff9900;
    padding-right: 5px;
    clear: both; }
  .jazz dl dd {
    color: #ccc;
    font-size: 12px;
    margin: 0px;
    line-height: 18px; }
