.jazz {
  .container {
    overflow: hidden;
    background-color: #fff;
    .body {
      padding: 10px;
    }
    &.skin-dark {
      background: url(/images/black_container_bg.png);
      .body {
        padding-bottom: 20px;
      }
    }
    &.with-tip {
      overflow: visible;
      position: relative;
    }
    .tip {
      width: 41px;
      height: 37px;
      position: absolute;
      bottom: -31px;
      right: 100px;
      background: url(/images/tip.png) no-repeat top left;
    }
  }
}
