.jazz {
  fieldset {
    border: none;
    padding: 0;
    margin: 0;

    //.actions a {color:$ORANGE;}
  }
  .field {
    margin-bottom: 20px;
    overflow: hidden;
    input[type='text'],
    input[type='password'],
    textarea {
      border: 2px solid #d7d7d7;
      width: 300px;
    }  
    input[type='text'],
    input[type='password'] {
      line-height: 16px;
      font-size: 12px;
      color: #000;
    }
    label,
    .control {
      float: left;
    }

    label {
      font-weight: bold;
      clear: both;
      margin-right: 20px;
      color: $ORANGE;
      font-size: 14px;
      cursor: pointer;
    }
    &.inline {
      float: left;
      margin-right: 10px;
      label {
        clear: none;
      }
      .wrapper {
        float: left;
      }
    }
    &.text {

    }
    &.textarea {
      textarea {
        height: 150px;
      }
    }
    &.radio {
      label {
        padding-top: 2px;
        margin-right: 8px;
      }
    }
    &.check {
      label {
        padding-top: 1px;
        margin-right: 8px;
      }
    }
    &.select {
      label {
        padding-top: 1px;
      }
    }
  }
  fieldset.searchy {
    margin-bottom: 5px;
    .field {
      margin-bottom: 3px;
      label {
        display: block;
        float: none;
        font-weight: normal;
        padding-left: 5px;
        padding-top:5px;
      }
      &.text {
        .input,
        .submit {
          float: left;
        } 
        .input {
          width:242px;
          margin-right:10px;
          input {
            width: 242px;
            height:15px;
          }
        }
      }
      &.select {
       .input,
       .submit {
         float: left;
       } 
       .input {
         margin-right: 3px;
         width: 249px;
         select {
          width: 249px;
         }
       }
      }
      &.calendar {
        width:253px;
        margin:0;
        padding:0;
      }
    }
    .calendar-wrapper {
      position:relative;
      padding-bottom:0px;
      background-color:transparent;
    }
    .calendar-submit {
      width: 66px;
      margin: 217px 0 0 10px;
      position:absolute;
      right:0px;
      bottom:0px;
      input {
        float:right;
      }
    }
  }

  .searchy-inline { 
    #search-by-name {width: 485px;}
    #search-by-instrument {width: 375px;}
    select {
      width: 200px;
    }
    .field.text {
      input {
        height: 15px;
      } 
    }
    label {
      margin-right: 3px;
    }
  }
}
