.jazz {
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  .field {
    margin-bottom: 20px;
    overflow: hidden;
    input[type='text'],
    input[type='password'],
    textarea {
      border: 2px solid #d7d7d7;
      width: 300px;
    }  
    input[type='text'],
    input[type='password'] {
      line-height: 20px;
      font-size: 16px;
      color: #000;
    }
    label,
    .control {
      float: left;
    }

    label {
      font-weight: bold;
      clear: both;
      margin-right: 20px;
      color: $ORANGE;
      font-size: 14px;
      cursor: pointer;
    }
    &.inline {
      float: left;
      margin-right: 10px;
      label {
        clear: none;
      }
      .wrapper {
        float: left;
      }
    }
    &.text {

    }
    &.textarea {
      textarea {
        height: 150px;
      }
    }
    &.radio {
      label {
        padding-top: 2px;
        margin-right: 8px;
      }
    }
    &.check {
      label {
        padding-top: 1px;
        margin-right: 8px;
      }
    }
    &.select {
      label {
        padding-top: 1px;
      }
    }
  }
  fieldset.searchy {
    margin-bottom: 5px;
    .field {
      margin-bottom: 3px;
      label {
        display: block;
        float: none;
        font-weight: normal;
        padding-left: 5px;
      }
      &.select {
       .input,
       .submit {
         float: left;
       } 
       .input {
         margin-right: 3px;
         width: 250px;
         select {width: 250px;}
       }
      }
    }
    .calendar-submit {
      margin: 211px 0 0 10px;
    }
  }

  .searchy-inline { 
    #search-by-name {width: 485px;}
    #search-by-instrument {width: 375px;}

    select {
      width: 200px;
    }
    .field.text {
      input {
        height: 15px;
      } 
    }
    label {
      margin-right: 3px;
    }
  }
}
