.jazz {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
  }

  h3 {
    color: $ORANGE;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  h3.box-header {
    background-color: $ORANGE;
    color: #fff;
    font-size: 12px;
    line-height: 13px;
    padding: 8px;
    text-transform: uppercase;
  }
}
