.jazz {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6 {
    float: left;
  }
  &.layout-1 {
    .col-1 {
      width: 310px;
      margin-right: 10px;
    }
    .col-2 {
      width: 640px;
    }  
  }
  &.layout-2 {
    .col-1,
    .col-2,
    .col-3 {
      width: 310px;
    }
    .col-1,
    .col-2 {
      margin-right: 10px;
    }
    .col-1-2 {
      width: 630px;
      float: left;
      margin-right: 10px;
      .col-2 {
        margin-right: 0px;
      }
    }
  }
  &.layout-3 {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6 {
      width: 135px;
      margin-right: 30px;
    }
    .col-6 {
      margin-right: 0px;
    }
  }
  &.layout-4 {
    .col-1,
    .col-2 {
      width: 470px;
      margin-right: 10px;
    }
    .col-2 {
      margin-right: 0px;
    }
  }
  .section {
    clear: both;
    margin-bottom: 5px;
  }
  .media-with-info {
    overflow: hidden;
    .media {
      width: 140px;
      height: 140px;
      float: left;
    }
    .info {
      padding-left: 150px;
    }
    &.large {
      .media {
        width: 160px;
        height: 160px;
      }
      .info {
        padding-left: 172px;
      }
    }
  }

}
