.jazz {
  a {
    cursor: pointer;
    text-decoration: none;
  }
  .box {
    color: #fff;
    background-color: $ORANGE;
    line-height: 14px;
    padding: 1px 5px 0px 5px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    &.dark {
      background-color: #000;
      text-transform: uppercase;
    }
  }
}
