.jazz {
  a, button.link {
    cursor: pointer;
    text-decoration: none;
  }
  button.link {
    background: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
  }
  .box {
    color: #fff;
    background-color: $ORANGE;
    line-height: 14px;
    padding: 2px 5px 2px 5px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    white-space:nowrap;
    &.dark {
      background-color: #000;
      text-transform: uppercase;
    }
    &.large {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 25px;
      width: 100%;
      text-align: center;
      padding: 0px;
    }
  }
  span.box.block {
    span {
      white-space:nowrap;
      overflow:hidden;
      width:130px;
      display:block;
    }
  }
}
