$ORANGE: #ff9900;
.jazz {
  ul {
    &.containers {
      li {
       margin-bottom: 6px; 
      }
    }
    &.with-gaps {
      li {
        margin-bottom: 8px;
      }
    }
    &.inline-list {
      overflow: hidden;
      li {
        float: left;
        margin-right: 3px;
        padding-bottom: 4px;
        &.last {
          margin-right: 0px;
        }
      }
    }
    li.last {margin-bottom: 0px !important;}
    &.grid-view {
      li {
        &.container {
          background:none;
        }
        margin-right: 10px;
        &.last {
          margin-right: 0px;
        } 
        &.first {
          clear: both;
        }
        .body {
          background-color:#fff;
          margin-bottom:10px;
          padding: 5px 5px 5px 5px;
          img {
            margin:0;
            padding:0;
            display:block;
          }
          .name {
            margin-bottom: 2px;
            margin-top:3px;
          }
          .byline {
            margin-bottom: 0px;
            padding-left: 5px;
            white-space:nowrap;
          }
        }
      }
    }
    &.header-meta-list {
      .byline {
        margin-bottom: 2px;
        .date { 
          color: #666;
        }
        .author,
        .location {
          color: #ccc;
        }
      }
      li {
        margin-bottom: 10px;
      }
    }
  }
  dl {
    overflow: hidden;
    margin: 0 0 5px 0;
    dd, dt {float: left;}
    dt {
      font-size: 14px;
      font-weight: bold;
      color: $ORANGE;
      padding-right: 5px;
      clear: both;
    }
    dd {
      color: #ccc;
      font-size: 12px;
      margin: 0px;
      line-height: 18px;
    }
  }
}
