- @page_class = 'layout-2 page-about'


.col-1
  .section
    = image_tag('/images/about.png')
  = render :partial => 'shared/mailing_list'
.col-2
  .container
    .body
      %h4.box.dark.mb5 About Search&amp;Restore
      #about
        :textile
          #{@about.about}
.col-3
  .container.skin-dark
    .body
      %h3 Recent Press:
      %ul.header-meta-list
        - 5.times do |t|
          %li
            %h4 The New York Times
            %p.byline 
              %span.date 03/31/2011, 
              %span.author Ben Ratliff
            %a.box{:href => '#'} "Promoter wants to build jazz audience"
.clear
