- @page_class = 'page-artists'

.grid-4
  .container.skin-dark
    .body
      .media-with-info
        .media
          = image_tag('http://dummyimage.com/140x140/000/fff')
        .info
          Blah
.grid-8
