- @page_class = 'layout-3 page-resources'

.col-1
  %h3.box.dark.mb10 Record Labels
  %ul.with-gaps
    %li
      %a.box{:href => '#'} Screwgun Records
    %li
      %a.box{:href => '#'} ECM
    %li
      %a.box{:href => '#'} Clean Feed
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe
    %li
      %a.box{:href => '#'} Hatelaugh Music
    %li
      %a.box{:href => '#'} Rat Records
    %li
      %a.box{:href => '#'} Hot Cup Records
    %li
      %a.box{:href => '#'} Signature Sounds
    %li
      %a.box{:href => '#'} Loyal Label
    %li
      %a.box{:href => '#'} Greenleaf Music


.col-2
  %h3.box.dark.mb10 Music Stores
  %ul.with-gaps
    %li
      %a.box{:href => '#'} Music stores
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe

.col-3
  %h3.box.dark.mb10 Another
  %ul.with-gaps
    %li
      %a.box{:href => '#'} Music stores
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe
.col-4
  %h3.box.dark.mb10 Another
  %ul.with-gaps
    %li
      %a.box{:href => '#'} Music stores
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe
.col-5
  %h3.box.dark.mb10 Another
  %ul.with-gaps
    %li
      %a.box{:href => '#'} Music stores
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe

.col-6
  %h3.box.dark.mb10 Another
  %ul.with-gaps
    %li
      %a.box{:href => '#'} Music stores
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe
    %li
      %a.box{:href => '#'} Downtown Music 
    %li
      %a.box{:href => '#'} Other Music
    %li
      %a.box{:href => '#'} Tower Records
    %li
      %a.box{:href => '#'} Songlines
    %li
      %a.box{:href => '#'} Fresh Sound
    %li
      %a.box{:href => '#'} Diatribe

