.grid-4
  asjfdkj
.grid-8
  %ul.containers
    %li.container
      .body
        %a.box.dark{:href => '#'} SILENT Z
        %a.box{:href => '#'} Tea Lounge, Brooklyn
        %h3 Featured Musicians:
        %ul.inline-list
          %li
            %a.box{:href => '#'} Tea Lounge, Brooklyn
          %li
            %a.box{:href => '#'} Tea Lounge, Brooklyn
          %li
            %a.box{:href => '#'} Tea Lounge, Brooklyn
          %li.last
            %a.box{:href => '#'} Tea Lounge, Brooklyn
    %li.container
      .body
        blah
.clear
